AIVEN_TOKEN=
AIVEN_PROJECT=dev-sandbox
AIVEN_SERVICES=cs-aiven-kafka-20260509,cs-aiven-os-20260509,cs-api-20260509,cs-web-20260509,cs-orchestrator-20260509,cs-ingestion-20260509,cs-consolidation-20260509
AIVEN_API_BASE_URL=https://api.aiven.io/v1
AIVEN_METADATA_INTERVAL_MS=60000
AIVEN_LOGS_INTERVAL_MS=15000
AIVEN_METRICS_INTERVAL_MS=30000
AIVEN_EVENTS_INTERVAL_MS=60000
AIVEN_LOG_LIMIT=100
AIVEN_COLLECTOR_ONCE=false
ENVIRONMENT=dev-sandbox
KAFKA_BROKERS=localhost:9092
KAFKA_SSL=false
KAFKA_CLIENT_ID=aiven-collector-worker
